body{
	padding: 20px;
	background: #0E0F10;
	font-family:  'proxima_nova','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#search-bar{
	margin-top: 100px;
	margin-bottom: 80px;
}

.result-container{
	dispay: table;
	margin: 0 auto;
}

.section-heading{
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-size: 18px;
	color: #88898c;
	line-height: 24px;
	margin-left: 10px;
	font-weight: 400;
}

.section-divider{
	border-bottom: 1px solid #222326;
	margin: 0 10px 16px;
	padding: 26px 10px 6px;
}

.error-message{
	margin-left: 50px;
    	line-height: 50px;
}

@media (min-width: 1280px){
	.result-container{
		width: 1200px;
	}
}

@media (min-width: 980px) and (max-width: 1279px){
	.result-container{
		width: 900px;
	}
}

@media (min-width: 680px) and (max-width: 979px){
	.result-container{
		width: 600px;
	}
}

@media (max-width: 679px){
	.result-container{
		width: 300px;
	}
}

.result-item{
	width: 280px;
	height: 280px;
	margin: 10px;
	padding: 10px;
	background: #222326;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.result-item-title{
	color: #dfe0e6;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	font-weight: 200;
	margin-top: 115px;
}
